.moe-button {
  background-color: rgb(237, 238, 243);
  color: rgb(56, 67, 120);
  border: 0px rgb(237, 238, 243);
  min-width: 64px;
  box-shadow: none;
  font-family: "Proxima Nova SemiBold", Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 11px 15px;
  border-radius: 5px;
  height: 44px;
  letter-spacing: 0px;
  margin-right: 10px;

  &:hover {
    background-color: rgb(56, 67, 120);
    border-color: rgb(56, 67, 120);
    color: rgb(255, 255, 255);
  }
}
