$color-black: #323232;
$color-dark-blue: #061556;
$color-footer-blue: #1A2A47;
$color-blue: #0073BB;
$color-highlight-blue: #A4DDF1;
$color-white: #ffffff;
$color-yellow: #FEBD11;
$color-light-grey: #C9C5BE;
$color-link-blue: #327CD1;

// $color-secondary-dark-black: #000000;
// $color-secondary-dark-blue: #0065ad;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;

$color-error: #D22D2D;
$color-attention-orange: #FF6600;