.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    background-color: #0c214d;
    border: none;
    color: #fff;

    &:hover {
      background-color: #0c214d;
    }
  }

  &__modal {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;

    &--menu {
      color: #005edc;
      font-size: 0.8rem;
      font-weight: 600;
      padding-left: 1.3rem;
      padding-top: 0.5rem;
      padding-bottom: 0.4rem;
    }

    &--body {
      border-bottom: none;
    }
  }

  &__list {
    list-style-type: none;
    font-weight: 400;
  }

  &__item {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    text-decoration: none;
    color: #005edc;
  }

  &__logo {
    &--container {
      display: flex;
      width: 100%;
      align-items: center;
      margin-top: 1rem;
      margin-left: 1.875rem;
    }
  }
}
