@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/variables.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

.progress__img {
  width: 100px;
}
.RSPBprogressBar {
  background-color: #d49e0e;
}
.RSPBprogressBar .RSPBprogression {
  background-color: $color-yellow;
}

.progress-bar-container {
  position: relative;

  @include tabletplus {
    margin: auto;
    max-width: 40rem;
  }

  .whale-container {
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: left 300ms;
  }

  .indexedStep {
    transition: width 300ms;
    display: inline-block;
  }

  .progress__img {
    width: 90px;
    height: 100px;
    filter: grayscale(50%);
  }
}
